// spacing
$spacing: 8px;
$spacing-1-5: $spacing * 1.5;
$spacing-3: $spacing * 3;
$spacing-5: $spacing * 5;

// input styling
$input-height: $spacing * 6.5;
$input-radius: 3px;
$input-border-color: #c2c8d0;
$input-padding: $spacing * 2;

// button styling
$button-height: $spacing * 6.5;
$button-radius: 3px;
